*{
    color: aliceblue;
}
table{
    margin-top: 100px;
    width: 100%;
    border-collapse:collapse;
    border-spacing:0
    }
    table, td, th{
    border: 1px solid #5df84e;
    }
    td, th{
    width: 30px;
    height: 25px;
    }
    th{
    background-color: #7accee!important;
    }