*{
    text-align: center ;
    color: aliceblue;
}
table{
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    margin-top: 80px;
    }
    table, td, th{
    border: 1px solid #8fec60;padding: 30px;
    }
    td, th{
    height: 25px;
    }
    th{
    background-color: #7accee!important;
    }
